img {
  height: 400px;
  width: 540px;

}

ul {
  list-style-type: none;
}

html, body, h1 {
  font-family: 'Handlee', cursive;
}

button, p {
	/*font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;*/
  font-family: 'Segoe UI', Optima, Arial, sans-serif;

}
