  <div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="nav" href="/">Home</a>
      <a class="nav" href="/about">About Us</a>
      <a class="nav" href="/contact">Contact Us</a>
    </div>
  </div>
</div>


<div class="container">
{{outlet}}
</div>
