<h1>Couscous Catalog</h1>

<br>
<p>You have come to the right place for all your couscous needs.</p>
<br>

<ul>
  {{#each model as |post-unit|}}
    {{post-tile post=post-unit update="update" destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post save2="save3"}}
